RewriteEngine On

RewriteRule ^home home.php [NC,L]
RewriteRule ^ueber-uns ueber-uns.php [NC,L]
RewriteRule ^profile profile.php [NC,L]
RewriteRule ^404 404.php [NC,L]
ErrorDocument 404 /ArchiveOfMyself/404