#body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
video{
    border-radius: 20px;
    background-color: #1e1e1e;
}
::-webkit-scrollbar{
    width: 0;
}
.commentsSelectable{
    cursor: pointer;
}
video{
    box-shadow: 5px 5px 10px #2d1c1c;
}
.commentbox{
    background-color: blue;
}